%ul.topics.box
  - topics.each do |topic|
    %li
      %a.span1(href="")
        %img(src="#{gravatar_url('joe@example.com')}")
      %article.span7
        %p.topic_title
          = link_to topic.title
        %p.topic_info
          = link_to topic.node.name, topic.node, class: "node"
          %span= "  •  "
          = link_to topic.author.name, topic.author, class: "user_link"
          %span= "  •  "
          = "published #{time_ago_in_words(topic.created_at)} ago"
          - last_replay = topic.replies.last
          - if last_replay
            %span= "  •  "
            last replied by
            = link_to last_replay.user.name, last_replay.user, class: "user_link"
            = "#{time_ago_in_words(last_replay.created_at)} ago"

      %p.replies.span1
        %span 12
